{% extends "head.html" %}
{% block content %}

        <form method="post">
            <table>
                <tr>
                    <td class="label">Comment:</td>
                    <td><textarea name="comment">{{comment}}</textarea></td>
                </tr>
                </table>
            <div class="error">{{error}}</div>
            <br>
            <input type="hidden" name="commentid" value="{{commentid}}">
            <button type="submit" name="submit" value="Submit" />Submit</button>
            <button type="cancel" name="cancel" value="Cancel" />Cancel</button>
            <br>
        </form>

{% endblock %}